@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.posts {
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 800px;

	@include d.flex($dir: row);

	&-container {
		@include d.flex($gap: v.$padding * 2);
	}

	&-title {
		font-size: 2.5em;
		font-weight: bold;
		text-align: center;
	}
}

// Filters Style
.filters {
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

	@include d.flex($dir: row, $ali: center);

	&-action {
		padding: v.$padding;
		border-radius: v.$radius;
		background-color: rgb(v.$bg1);
	}
}
