@use '@sass/config/global';

code {
	padding: 2px 5px;
	border-radius: 2px;
	background-color: rgb(var(--gray-light));
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	margin: 0;
	padding: 0 0 0 20px;
	border-left: 4px solid var(--accent);
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@keyframes bump {
	0% {
		transform: scale(1);
		opacity: 0;
	}

	50% {
		transform: scale(1.1);
		opacity: 0.5;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
