@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.tools {
	flex-wrap: wrap;
	width: 100%;

	@include d.flex($dir: row);
}

.tool {
	width: 250px;
	height: 180px;
	padding: v.$padding;
	border-radius: v.$radius;

	background-color: rgb(v.$bg2);

	@include d.flex;

	&-header {
		width: 100%;

		@include d.flex($dir: row, $ali: center);
	}

	&-image {
		pointer-events: none;

		position: relative;

		width: 50px;
		height: 50px;
		border-radius: v.$radius;

		&__icon {
			border-radius: v.$radius;
		}

		&__floatIcon {
			position: absolute;
			right: -5px;
			bottom: -5px;

			display: grid;
			place-content: center;

			width: 15px;
			height: 15px;
			padding: v.$padding;
			border-top-left-radius: 50%;

			background-color: rgb(v.$bg2);

			img {
				width: fit-content !important;
				max-width: 15px;
				max-height: 15px;
			}
		}
	}

	&-caption {
		@include d.flex($gap: 5px);
	}

	&-title {
		@include d.flex($dir: row, $ali: center);

		h4 {
			font-weight: bolder;
		}

		&__tag {
			padding: 3px 5px;
			border-radius: 5px;
			background-color: rgb(v.$bg1);
		}
	}

	// Styles
	&-preview {
		overflow: hidden;

		width: 100%;
		height: 130px;
		border-top-left-radius: v.$radius;
		border-top-right-radius: v.$radius;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-description {
		width: 100%;

		p,
		a {
			display: inline;
		}

		&__author {
			color: rgb(v.$tn1);
		}
	}
}
