---
import './style.scss'
import Coral from '@/assets/Coral.astro'
import { BugIcon } from '@lucide/astro'
---

<header class="header">
	<a href="/" class="header-logo">
		<Coral className="header-coral" />
		<h2>Coral</h2>
	</a>

	<a
		class="header-feedback"
		href="https://github.com/Luis-Fernando-MP/coral/discussions"
		target="_blank"
		rel="noreferrer noopener"
	>
		<BugIcon />
		<p>Feedback</p>
	</a>
</header>
